.DS_Store
.env
.env.*
.history/
.idea/
artifacts/
build/
dist/
cache/
coverage*
keys/*
node_modules/
typechain/
.pnpm-store/
.vscode/mise-tools/

**/logs/*.json
*.log
*.tsbuildinfo

# Optimistic output
output/