!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
.env
.env.*
.history/
.idea/
.pnp.*
.yarn/*
artifacts/
build/
cache/
coverage*
keys/*
node_modules/
typechain/

/logs/*.json
*.log
*.tsbuildinfo
.eslintcache
.eslint.local.json

# Optimistic output
/output